.header {
  height: 163px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #222222;
  position: absolute;
  top: 0;
}

.logo {
  width: 300px;
  height: 84px;
}

.hour {
  font-weight: 700;
  font-size: 144px;
  line-height: 216px;
  text-align: center;
  margin: 0;
}

.date {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.location {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.degree {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .date-hour {
    display: none;
  }
}
