.text-color-black {
  color: #222222;
}

.text-color-red {
  color: #c12d18;
}

.text-size-large {
  font-size: 64px;
}

.text-size-medium {
  font-size: 36px;
}

.text-size-small {
  font-size: 24px;
}

p {
  margin: 0;
}
