.main-container {
  margin-top: 72px;
  width: 100%;
  height: 467px;
  background: url("./../../../../assets/img/uol-ball-transparent.png");
  background-repeat: no-repeat;
  background-size: 646px 646pxcd;
  background-position-x: -140px;
}

.main-content {
  width: 100%;
  padding-right: 112px;
  box-sizing: border-box;
}

.title {
  font-weight: 700;
  text-align: right;
  white-space: nowrap;
}

.text {
  font-weight: 400;
  line-height: 36px;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .main-container {
    background-size: 660px 660px;
    background-position-x: -294px;
    margin-top: 0;
  }
  .main-content {
    display: none;
  }
}
