<main class="main-container">
  <div class="main-content">
    <div class="group-text">
      <app-text-component [text]="title1" [color]="'red'" [size]="'medium'" class="title"></app-text-component>
      <app-text-component [text]="text1" [color]="'black'" [size]="'small'" class="text"></app-text-component>
    </div>
    <div class="group-text">
      <app-text-component [text]="title2" [color]="'red'" [size]="'large'" class="title"></app-text-component>
      <app-text-component [text]="text2" [color]="'black'" [size]="'small'" class="text"></app-text-component>
    </div>
    <div class="group-text">
      <app-text-component [text]="title3" [color]="'red'" [size]="'large'" class="title"></app-text-component>
      <app-text-component [text]="text3" [color]="'black'" [size]="'small'" class="text"></app-text-component>
    </div>
    <div class="group-text">
      <app-text-component [text]="title4" [color]="'red'" [size]="'large'" class="title"></app-text-component>
      <app-text-component [text]="text4" [color]="'black'" [size]="'small'" class="text"></app-text-component>
    </div>
  </div>
</main>