/* You can add global styles to this file, and also import other style files */

html,
body {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  height: 100vh;
}

body {
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Poppins, Helvetica Neue", Helvetica, Arial, sans-serif;
}

input {
  all: unset;
}

.background-img {
  background-image: url("./assets/img/background.png");
  background-repeat: no-repeat;
  height: 100vh;
  max-height: 1536px;
  background-size: cover;
}

.background-color {
  background: #26292c;
  height: 100vh;
  max-height: 1536px;
}

* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .background-color {
    height: 100%;
  }
}
