<footer class="footer-container">
  <div class="left-content">
    <p class="text">Essa janela do navegador é usada para manter sua sessão de autenticação ativa. Deixe-a aberta em
      segundo plano e
      abra uma nova janela para continuar a navegar.</p>
  </div>
  <div class="right-content">
    <div class="time-session">
      <p class="time-session-label">Application refresh in</p>
      <div class="time-session-timer">
        <p class="timer">{{ timer }}</p>
        <p class="seconds">seconds</p>
      </div>
    </div>
    <button class="btn-continue-browsing" (click)="continueBrowsing()">Continuar Navegando</button>
    <button class="btn-logout" (click)="logout()">Logout</button>
  </div>
</footer>