<footer class="footer">
  <div class="content-info">
    <p class="text">Essa janela do navegador é usada para manter sua sessão de autenticação ativa. Deixe-a aberta em
      segundo plano e
      abra uma nova janela para continuar a navegar.</p>
    <div class="line"></div>
    <div class="">
      <p class="text-wrap">Application refresh in</p>
      <p class="text3">600 <br> <span>seconds</span></p>
    </div>
  </div>
  <div>
    <p class="text-wrap">Continuar Navegando</p>
    <button type="button" (click)="logout()"></button>
  </div>
</footer>